.p_tbdr{
  border: 1px dashed red;
}

header{
height: 160px;
background-color: #5c1f7a;
border:2px dashed red;

}

main{
height: 2000px;
background-color: white;
border: 2px dashed red;
}

footer{
  height: 67px;
  background-color: #0099cc;
  border: 2px dashed yellow;
}